html, body {
    margin: 0;
    padding: 0;

}

.title {
	font-family: Avenir, Calibri, sans-serif;
	margin-top: auto;
	text-align: center;
	position: relative;
	top: 40%;
	font-size: 3.5em;
  color: white;
}

.title2 {
  font-family: Avenir, Calibri, sans-serif;
  margin-top: auto;
  text-align: center;
  position: relative;
  top: 40%;
  font-size: 2.5em;
  color: white;
}

ul, li, div {
  list-style-type: none;
  padding: 0;
  font-family: Segoe UI, Avenir, Calibri, sans-serif;
}

#navbar {
  width: 100%;
	position: relative;
	list-style-type: none;
	position: fixed;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid rgba(107, 107, 107, 0.5);
}

a, a:active {
  text-decoration: none;
  color: black;
}

.nav {
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
}

body > div {
  margin-bottom: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  clear: both;
}

.jumbotron {
  background-color: black;
}

.fade-in {
  -webkit-transition: background 0.5s linear;
}

.jumbotron2 {
  background-image: url("Images/Background2.jpg");
}

.jumbotron3 {
  background-image: url("Images/Background3.jpg");
}

.jumbotron4 {
  background-color: #CCFFCC;
}

.header {
	height: 90vh;
	max-width:800px;
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
}

.resume, .resume2 {
  max-width: 1400px;
  margin: auto;
}

.resume {
  height: 25em;
}

.container {
	max-width: 1200px;
	margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  clear: both;
}

.resume2 {
  height: 35em;
}

.aboutme {
	width: 100%;
  padding-top: 2em;
	margin-bottom: 0%;
	font-size: 1.5em;
	border-bottom: 1px solid black;
}

section, aside{
  margin: auto;  
  font-family: Segoe UI, Avenir, Calibri, sans-serif;
  font-size: 1.3em;
}
section {
  float: left;
  width: 45%;    /* 340px ÷ 538px = .63197026 */   
}
aside {
  float: right;
  width: 45%;  /* 158px ÷ 538px = .293680297 */
}

img {
  margin: auto;
  width: 90px;
  padding-top: 5em;
  display: block;
} 

.project-list {
  clear: both;
  display: inline-block;
  border: 2px solid black;
  padding: 2em;
}

.space {
  min-height: 2em;
  clear: both;
}

.project-title, .project-link{
  text-decoration: none;
  font-size: 2em;
  text-align: center;
}

.project-description {
  font-size: 1.3em;
}

.project-title:hover, .project-link:hover{
background-color: #9FD89F;
}

td, tr, table {
  margin: auto;
  position: relative;
  border-spacing: 1em;
}

td > p {
  font-family: Segoe UI, Avenir, Calibri, sans-serif;
  font-size: 1.3em;
  text-align: center;
  background-color: white;
}

.footer {
  clear: both;
}

.instatab {
  float: right;
  width: 500px;
  padding-left: 2em;
  padding-top: 0;
  display: inline-block;
  clear: both;
}

.pelvis {
  float: right;
  width: 200px;
  /*padding-left: 2em;*/
  padding-top: 0;
  display: inline-block;
  clear: both;
}

.serenity {
  float: right;
  width: 400px;
  /*padding-left: 2em;*/
  padding-top: 0;
  display: inline-block;
  clear: both;
}

@media screen and (max-width: 650px) {
  .instatab, .serenity {
    width: 100%;
  }
  .pelvis {
    width: 50%;
  }
}