body, html {
	margin: 0;
	padding:0;
	/*position: relative; */
}

video#bgvid, .landing-page {
	position: absolute; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(polina.jpg) no-repeat;
	background-size: cover;
}
.landing-page {
	position: absolute; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto;
	text-align: center;
}
.landing-content {
	position: absolute;
	width: 100%;
	margin: auto;
}
@media screen and (max-device-width: 800px) {
	body { 
		background: url(polina.jpg) #000 no-repeat center center fixed;
	}
	#bgvid {
		display: none; 
	}
}